*{
    background-color:skyblue;
    margin:0;

}
h1{
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
label{
    padding:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.form-control{
    padding:5px;
    border-radius: 10px;
    font-size: 14px;
    margin:5px;
}
#buttonSearch{
    margin:5px;  

}
#meaningforward{
    padding:5px;
    color:rgb(47, 10, 212);
    font-family:'Times New Roman', Times, serif;
}
